doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/styles.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        header
            ul#navigation.slimmenu
                li#image
                    a(href='/')
                        img(src='/images/logo.png' alt='Story Share Logo')
                li
                    a(href='/home')
                        | Home Page
                li
                    a(href='/submit_story')
                        | Submit Story
                li
                    a(href='/stories')
                        | Browse Stories
                li
                    a(href='/contact')
                        | Contact Us
                li
                    a(href='/login')
                        | Admin Login
        block main
        footer
            p
                | &copy; 2024 - Sara Bleier, Deborah Schonkopf, Tova Krupka

        script(src="jquery.slimmenu.js")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
        script.
            $('#navigation').slimmenu({
                resizeWidth: '700',
                collapserTitle: 'Main Menu',
                animSpeed: 'medium',
                easingEffect: null,
                indentChildren: false,
                childrenIndenter: '&nbsp;'
            });