extends default
block main
    br
    br
    br
    p Thank you for submitting your story "#{title}".
    p We may be in touch with you regarding clarifications on the story.
    br
    br
    br
    br
    br
    br
    br
    br
    br
